.pokeButton {
  background: none;
  border: none;
}

.pokeButton img {
  width: 80%;
  height: 80%;
  cursor: pointer;
}

.pokeButton img:active {
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}

.lbl-button {
  color: blue;
  font-weight: 700;
  font-size: 80%;
  margin: 0;
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.center-element {
  text-align: center;
  align-items: center;;
}

.pokemon-type {
  margin: 0;
}

.blue-color {
  color: blue;
}

