.pokeButton {
  background: none;
  border: none;
}

.pokeButton img {
  width: 100%;
  height: 100%;
}

.lbl-button {
  color: blue;
  font-weight: 700;
  font-size: 80%;
  margin: 0;
}

.center-text {
  text-align: center;
}
